* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style-type: none;
}

button,
a {
    all: unset;
    cursor: pointer;
}

:root {
    --primary-font: "Josefin Sans", sans-serif;
    --secondary-font: "Lato", sans-serif;
    --pink-color: #FB2E86;
    --promotion-bg: #F1F0FF;
    --card-box-shadow: 0px 0px 25px 0px #0000001A;
    --offer-card-box-shadow: 0px 8px 40px 0px #31208A0D;
}

.flex {
    display: flex;
}

.sub-headings h4,
.align-center {
    align-items: center;
}

.navbar-info {
    justify-content: space-between;
    padding: 13px 0 15px;
}

.sub-headings,
select {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F1F1F1;
}

select {
    background-color: transparent;
    border: none;
    width: fit-content;
}

select option {
    color: #000000;
}

.nav-items-list li a {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
}

.footer-items ul li a:hover,
.nav-items-list li a:hover {
    text-decoration: underline;
    color: var(--pink-color);
    text-decoration-thickness: 2px;
}

.nav-items-list li a span {
    padding-left: 5px;
}

.main-container {
    max-width: 1168px;
    margin: 0 auto;
}

.navbar-top {
    background-color: #7E33E0;
}

.navbar-top-right {
    gap: 48px;
}

.navbar-top-left {
    gap: 20px;
}

.nav-icon {
    height: 18px;
    width: 18px;
    padding-right: 10px;
    cursor: pointer;

}

.wishlist {
    padding-left: 5px;
}

.navbar {
    padding-top: 19px;
    padding-bottom: 19px;
    justify-content: space-between;
}

.navbar-right-section {
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
}

.hamburger {
    padding-left: 10px;
    cursor: pointer;
    display: none;
}

.logo {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
}

.nav-items-list {
    gap: 35px;
}

.navbar-left-section {
    max-width: 317px;
    width: 100%;
    position: relative;

}

.navbar-left-section input {
    width: 100%;
    height: 40px;
    border: 2px solid #E7E6EF;
    padding-left: 16px;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    right: 0px;
    background-color: #FB2E86;
    height: 100%;
    max-width: 50px;
    width: 100%;
    display: grid;
    place-items: center;
}

.nav-sidebar-overlay {
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.2s linear;
    z-index: 22;
}

.nav-sidebar-overlay-background {
    background-color: rgba(0, 0, 0, 0.800);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 21;
}

.nav-sidebar {
    background-color: white;
    position: fixed;
    right: -320px;
    width: 320px;
    height: 100%;
    z-index: 22;
    justify-content: space-between;
    transition: all 0.2s linear;
}

.nav-sidebar ul {
    flex-direction: column;
    gap: 28px;
    padding: 60px 20px;
}

.nav-sidebar ul li a {
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.sidebar-active .nav-sidebar {
    right: 0;
}

.nav-sidebar-overlay.sidebar-active {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.sidebar-active {
    width: 100%;
    position: fixed;
}

.login-overlay {
    background-color: #000000a0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    display: grid;
    place-items: center;
}

.login-container {
    max-width: 700px;
    width: 100%;
    margin: auto auto;
    background-color: white;
    padding: 0px 24px 42px;
    border-radius: 32px;
}

.login-container-top {
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid grey;

}

.login-top-header {
    justify-content: space-between;
    padding: 0 16px 8px;
    padding-top: 42px;
}

.login-top-header-right h1 {
    font-size: 40px;
    padding-bottom: 17px;
    font-family: var(--primary-font);
    font-weight: 700;
}

.credential-input-container {
    padding: 42px 16px;
    flex-direction: column;
    gap: 20px;
}

.pasword-inp-container {
    flex-direction: column;
}

.login-top-header-right p,
.pasword-inp-container p,
.email-inp-container p,
.forgot-password {
    font-family: var(--secondary-font);
    font-size: 16px;
}

.forgot-password {
    margin-top: 12px;
}

.pasword-inp-container p,
.email-inp-container p {
    padding-bottom: 12px;
}

.buttons-container {
    padding-left: 16px;
    padding-right: 16px;
}

.buttons-container button {
    width: 100%;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: white;
    font-weight: 700;
    background-color: var(--pink-color);
    padding: 12px 0;
    text-align: center;
    border-radius: 20px;
}

button:active {
    transform: scale(0.99);
}

.credential-input-container input,
.pasword-inp-container input {
    width: 100%;
    height: 54px;
    border-radius: 8px;
    border: 1px solid rgb(194, 194, 194);
    padding-left: 20px;
    font-family: var(--secondary-font);
    font-size: 16px;
}

/* hero section  */
.hero-section {
    background-color: #F1F0FF;
}

.heroswiper {
    overflow: hidden;
}

.hero-section .swiper-wrapper {
    padding: 0 10px;
}

.heroswiper-pagination {
    text-align: center;
    padding-bottom: 50px;
}

.heroswiper-pagination .swiper-pagination-bullet {
    background: transparent !important;
    border-radius: 0px !important;
    width: 10px !important;
    height: 10px !important;
    transform: rotate(45deg);
    margin: 8px !important;
    border: 1px solid var(--pink-color) !important;
    opacity: 1;
}

.heroswiper-pagination .swiper-pagination-bullet-active {
    background: var(--pink-color) !important;
}

.heroswiper {
    overflow: hidden;
}

.hero-wrapper {
    background: url('assets/promotional.png');
    max-width: 1920px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-wrapper.slide2 {
    background: url('assets/Rectangle\ 32.png');
    background-repeat: no-repeat;
    background-size: cover;


}

.hero-wrapper.slide3 {
    background: url('assets/Rectangle\ 32\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text-section {
    padding-top: 203px;
    padding-bottom: 236px;
    width: 60%;
}

.hero-sub-heading {
    font-weight: 700;
    color: var(--pink-color);
}

.hero-heading {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 53px;
    line-height: 132%;
    letter-spacing: 1.5%;
    padding: 12px 0;
}

.hero-paragraph {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #8A8FB9;
    padding: 0 0 27px;
}

.shop-now {
    background-color: var(--pink-color);
    color: white;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    padding: 17px 40px;
    border-radius: 2px;
    transition: all 0.2s ease;
}

.footer-sign-up-btn:hover,
.unique-feature-button-wrapper button:hover,
.shop-now:hover {
    transform: scale(1.02);
}

.section-heading h2 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A0B5B;
    text-align: center;
}

.featured-section {
    padding: 128px 0 70px;
}

.card-description {
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.description-markers {
    display: flex;
    gap: 5px;
}

.description-markers span {
    height: 4px;
    width: 14px;
    border-radius: 3px;
}

.description-markers span:first-child,
.unique-feature-para:first-child span {
    background-color: #05E6B7;
}

.description-markers span:nth-child(2),
.unique-feature-para:nth-child(2) span {
    background-color: #F701A8;
}

.description-markers span:nth-child(3),
.unique-feature-para:nth-child(3) span {
    background-color: #00009D;
}

.card {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
    box-shadow: var(--card-box-shadow);
    transition: all 0.2s ease;
}

.card-img {
    height: 236px;
    justify-content: center;
    background-color: #F6F7FB;
    position: relative;
}

.card-img-overlay {
    position: absolute;
    flex-direction: column;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    padding: 20px 20px 10px;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.2s ease;
}

.card-img-overlay-top {
    gap: 10px;
    align-items: center;
}

.latest-product-card-overlay-bottom span,
.card-img-overlay-top span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.card-img-overlay-top span:hover,
.latest-product-card-overlay-bottom span:hover {
    background-color: #EEEFFB;
    box-shadow: 0px 0px 4px 0px #0000000D;
}

.card-img-overlay-bottom {
    justify-content: center;
}

.category-card-overlay button,
.card-img-overlay-bottom button {
    padding: 8px 13px;
    background-color: #08D15F;
    color: white;
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
}

.card:hover .card-description,
.card:hover .card-description .card-heading,
.card:hover .card-description .card-sub-heading {
    background-color: #2F1AC4;
    color: white;
}

.card:hover .card-img-overlay {
    opacity: 100;
}

.card-heading {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--pink-color);
}

.card-sub-heading {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #151875;
}

.swiper-wrapper {
    padding: 48px 10px 60px;
}

.swiper-pagination-bullet {
    background: var(--pink-color) !important;
    border-radius: 10px !important;
    width: 24px !important;
    height: 4px !important;
}

/* latest product section   */
.latest-btn-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    max-width: 527px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 19px 0 0 0;
    column-gap: 30px;
}

.latest-btn-wrapper button {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    /* color: var(--pink-color); */
    color: #151875;
    text-align: center;
}

.discount-item-btns button.active,
.latest-btn-wrapper button.active {
    color: var(--pink-color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.latest-btn-wrapper .latest-btn-active {
    color: var(--pink-color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.latest-products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 37px;
    padding: 58px 0;
    row-gap: 116px;
}

.latest-product-card-image {
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    height: 270px;
    position: relative;
}

.latest-product-card-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    opacity: 0;
    transition: all 0.1s linear;
}

.latest-product-card-overlay-bottom {
    flex-direction: column;
    gap: 10px;
}

.latest-product-card:hover .latest-product-card-overlay {
    opacity: 100;
}

.latest-product-detail-wrapper {
    justify-content: space-between;
    padding: 16px 0;
}

.latest-product-price,
.latest-product-name {
    font-size: 16px;
}

.latest-product-name {
    border-bottom: 2px solid #EEEFFB;
}

.latest-product-original-price {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: line-through;
    color: var(--pink-color);
    padding-left: 10px;
}

/* what we offer section! */
.offer-cards-container {
    padding: 55px 0 135px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
}

.offer-card {
    max-width: 260px;
    flex-direction: column;
    box-shadow: var(--offer-card-box-shadow);
    padding: 56px 26px 45px;
}

.support {
    color: #151875;
    font-size: 22px;
    padding-top: 27px;
}

.offercard-description {
    line-height: 25.6px;
    text-align: center;
    padding-top: 20px;
}

/* unique-features-of-product-section   */
.unique-features-section {
    background-color: #F1F0FF;
}

.unique-feature-image {
    width: 100%;
    max-width: 600px;
}

.unique-feature-image img {
    width: 100%;
}

.unique-section-heading h2 {
    font-family: var(--primary-font);
    font-size: 35px;
    text-align: left;
    padding-bottom: 29px;
}

.unique-features-description {
    flex-direction: column;
    justify-content: center;
}

.unique-feature-para-wrapper {
    flex-direction: column;
    gap: 13px;
}

.unique-feature-para {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    letter-spacing: 1.5%;
    color: #ACABC3;
}

.unique-feature-para span {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.unique-feature-button-wrapper {
    gap: 19px;
    padding-top: 38px;
}

.unique-feature-button-wrapper button {
    max-width: 157px;
    border-radius: 2px;
    background-color: var(--pink-color);
    padding: 14px 24px;
    font-size: 17px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: white;
    transition: all 0.2s ease;
}

.unique-feature-product-name {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #151875;
}

.unique-price-wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.trending-product-wrapper {
    padding: 132px 0;
}

.trending-product-card {
    width: 100%;
    max-width: 270px;
    padding: 12px 12px 0 12px;
    box-shadow: var(--offer-card-box-shadow);
}

.trending-product-card-wrapper {
    flex-wrap: wrap;
    gap: 26px;
    padding-top: 55px;
    justify-content: center;
}

.trending-product-card-img {
    background-color: #F5F6F8;
    height: 244px;
    justify-content: center;
}

.trending-product-card-description {
    flex-direction: column;
    padding: 15px 0 32px;
}

.trending-product-card-heading {
    font-weight: 700;
    font-size: 16px;
}

.trending-product-card-pricing {
    padding-top: 9px;
}

.trending-product-card-pricing span {
    color: rgba(21, 24, 117, 0.3);
    text-decoration: line-through;
    padding-left: 12px;
}

.trending-product-discount-wrapper {
    display: grid;
    padding: 39px 0 0 0;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
}

.trending-discount-card {
    height: 270px;
    box-shadow: var(--offer-card-box-shadow);
    padding: 34px 25px;
    width: 100%;
}

.trending-discount-card:nth-child(2) {
    background-color: #EEEFFB;
}

.trending-discount-card-image {
    max-width: 213px;
}

.trending-discount-card-image,
.trending-discount-card-image img {
    width: 100%;
    align-self: flex-end;
    height: 100%;
}

.trending-discount-heading h2 {
    color: #151875;
    font-size: 26px;
    font-weight: 600;
}

.trending-discount-card:first-child {
    background-color: #FFF6FB;
}

.trending-discount-card-shop-now {
    color: var(--pink-color);
    text-decoration: underline;
}

.trending-discount-body {
    justify-content: space-between;
    height: 100%;
}

.trending-discount-card-shop-now {
    padding-top: 12px;
    white-space: nowrap;
}

.trending-product-sub-cards {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.sub-card-img {
    max-width: 107px;
    width: 100%;
    justify-content: center;
    background-color: #F5F6F8;
}

.sub-card-description {
    padding: 20px 9px;
    width: 100%;
}

.discount-item-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px 0;
    width: 100%;
}

.discount-sub-card-heading {
    font-weight: 600;
    font-size: 16px;
}

.discount-sub-card-pricing {
    font-size: 12px;
    color: #151875;
    text-decoration: line-through;
    padding-top: 5px;
}

.latest-btn-wrapper.discount-item-btns {
    grid-template-columns: repeat(3, 1fr);
}

.discount-item-btns {
    max-width: 420px;
}

.discount-item-highlight {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 21px;
    line-height: 132%;
    letter-spacing: 1.5%;
    color: var(--pink-color);
    padding-bottom: 20px;
}

.discount-item-para {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 2%;
    color: #B7BACB;
}

.discount-item-para span {
    padding-right: 9px;
}

.discount-item-para-points {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 44px;
    row-gap: 10px;
    padding-top: 28px;
    padding-bottom: 37px;
}

.discount-item-left-section {
    flex-direction: column;
    justify-content: center;
}

.discount-item-right-section {
    display: flex;
    justify-content: center;
}

.discount-item-img {
    max-width: 700px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.discount-item-img img {
    width: 100%;
}

.newletter-body button,
.discount-item-left-section button {
    max-width: 200px;
    text-align: center;
    padding: 20px 0px;
    font-size: 17px;
}

/* Top Categories  */
.top-categories-section {
    padding-top: 70px 0;
}

.category-card {
    flex-direction: column;
    /* max-width: 269px; */
}

.category-card-img {
    height: 100%;
    width: 100%;
    background: #F6F7FB;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--offer-card-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 269px;
    height: 269px;
    position: relative;
    margin-inline: auto;
}

.category-card-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: all 0.2s ease;
}

.category-card:hover .category-card-overlay {
    opacity: 100;
}

.category-card-description {
    flex-direction: column;
    padding: 27px 0 0 0;
}

.category-card-heading {
    font-size: 20px;
}

.category-card-price {
    font-size: 16px;
    padding: 13px 0 0 0;
}

.categoryswiper {
    overflow: hidden;
    text-align: center;
    padding-bottom: 125px;
}

.categoryswiper .swiper-pagination-bullet {
    background: transparent !important;
    border: 1px solid var(--pink-color) !important;
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
}

.categoryswiper .swiper-pagination-bullet-active {
    background-color: var(--pink-color) !important;
}

.categoryswiper .swiper-pagination-bullet {
    opacity: 100 !important;
}

/* newsletter section  */
.newsletter-section {
    background: url('assets/Rectangle\ 102.png');
    background-size: cover;
}

.newletter-body {
    max-width: 574px;
    margin: 0 auto;
    padding: 174px 0 103px;
    flex-direction: column;
}

.newletter-body .section-heading h2 {
    text-align: center;
    line-height: 155%;
}

.newletter-body button {
    padding: 16px 34px;
}

/* brand-icons-section  */
.brand-icons-section {
    padding: 96px 0;
    margin: 0 auto;
    justify-content: center;
    max-width: 900px;
    width: 100%;
}

.brand-icons-section img {
    width: 100%;
}

.blog-cards-wrapper {
    padding: 80px 0 115px 0;
    gap: 29px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog-card-img {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.blog-card-img img {
    width: 100%;
}


.blog-card-body {
    padding: 20px 14px 35px;
}

.blog-card-top {
    gap: 30px;
}

.blog-card-heading {
    padding: 31px 0 17px;
    font-weight: 700;
    font-size: 18px;
}

.blog-card-para {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #72718F;
}

.blog-read-more {
    text-decoration: underline;
    color: #151875;
    padding-top: 16px;
}

.blog-card-top .card-sub-heading span {
    padding-right: 8px;
}

/* footer-section */
.footer-section {
    background: #EEEFFB;
}

.footer-wrapper {
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 100px;
    gap: 20px;
}

.footer-right-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

.footer-headings {
    font-size: 22px;
    color: #000000;
    padding-bottom: 31px;
}

.footer-logo {
    font-size: 38px;
    padding-bottom: 31px;
}

.footer-input {
    position: relative;
    max-width: 377px;
    padding-bottom: 25px;

}

.footer-input input {
    border: transparent;
    height: 44px;
    width: 100%;
    padding: 0 0 0 10px;
    border-radius: 3px;
}

.navbar-left-section input:focus-visible,
.footer-input input:focus-visible {
    outline: none;
}

.navbar-left-section input:active,
.footer-input input:active {
    color: black;
    font-size: 14px;
}

.footer-sign-up-btn {
    position: absolute;
    right: 2px;
    padding: 11px 40px;
    background-color: var(--pink-color);
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--primary-font);
}

.footer-contact {
    padding-top: 10px;
}

.footer-contact,
.footer-items ul li a,
.footer-input input {
    color: #8A8FB9;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.footer-items ul {
    flex-direction: column;
    gap: 21px;
}

.footer-bottom-bar {
    background: #E7E4F8;
}

.footer-bottom-container {
    justify-content: space-between;
    padding: 17px 0;
    max-width: 980px;
}

.copyright {
    color: #9DA0AE;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.footer-icons {
    gap: 11px;
}

.footer-icons span {
    height: 20px;
    width: 20px;
    background-color: #151875;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width:1200px) {
    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width:1024px) {
    .hero-heading {
        font-size: 48px;
    }

    .section-heading h2 {
        font-size: 36px;
    }

    .hero-text-section {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .shop-now {
        padding: 14px 32px;
    }

    .featured-section {
        padding: 100px 0 100px;
    }

    .latest-btn-wrapper {
        padding: 24px 0 0 0;
    }

    .latest-products-container {
        row-gap: 30px;
        padding: 58px 0 100px;
    }

    .nav-items-list {
        gap: 20px;
    }

    .trending-discount-heading h2 {
        font-size: 24px;
    }

    .footer-right-container {
        gap: 28px;
    }

    .footer-headings {
        font-size: 16px;
    }

    .blog-card {
        max-width: auto;
    }

    .offer-cards-container {
        padding: 55px 0 100px;
    }

    .trending-product-wrapper {
        padding: 100px 0;
    }

    .footer-contact,
    .footer-items ul li a,
    .footer-input input {
        font-size: 12px;
    }
}

@media (max-width:920px) {
    .hamburger {
        display: block;
    }

    .trending-product-discount-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .discount-item-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
    }

    .discount-item-left-section {
        align-items: center;
    }

    .discount-item-left-section button {
        padding: 20px 25px;
    }

    .hero-text-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .featured-section {
        padding: 70px 0 70px;
    }

    .latest-products-container {
        row-gap: 25px;
    }

    .offer-cards-container {
        padding: 55px 0 80px;
    }

    .navbar-info {
        padding: 18px 0 18px;
    }

    .discount-item-para {
        text-align: center;
    }

    .latest-products-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar-top-left,
    .nav-items-list {
        display: none;
    }

    .navbar-info {
        justify-content: center;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .footer-right-container {
        padding-top: 40px;
    }

    .unique-features-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width:700px) {
    .hero-heading {
        font-size: 40px;
    }

    .footer-right-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .unique-features-section .unique-features-wrapper {
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .trending-product-discount-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:600px) {
    .blog-cards-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .latest-btn-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:576px) {
    .navbar-top-right {
        gap: 10px;
    }

    .navbar {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .logo {
        font-size: 26px;
    }

    .navbar-left-section input {
        height: 32px;
    }

    .hero-text-section {
        padding-top: 80px;
        padding-bottom: 80px;
        width: 80%;

    }

    .sub-headings,
    select {
        font-size: 12px;
    }

    .hero-heading {
        font-size: 32px;
    }

    .hero-paragraph {
        font-size: 14px;
    }

    .footer-sign-up-btn,
    .newletter-body button,
    .discount-item-left-section button,
    .unique-feature-button-wrapper button,
    .shop-now {
        font-size: 14px;
        padding: 12px 24px;
    }

    .section-heading h2 {
        font-size: 24px;
    }

    .featured-section {
        padding: 40px 20px 40px;
    }

    .trending-product-discount-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .latest-products-container {
        row-gap: 10px;
    }

    .latest-btn-wrapper {
        column-gap: 8px;
    }

    .latest-btn-wrapper button {
        font-size: 12px;
    }

    .offer-cards-container {
        padding: 55px 0 40px;
    }

    .card-description {
        flex-direction: column;
        gap: 6px;
        padding: 14px;
    }

    .unique-feature-para {
        font-size: 14px;
    }

    .unique-feature-para-wrapper {
        gap: 8px;
    }

    .latest-products-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .trending-product-wrapper {
        padding: 60px 0;
    }

    .trending-product-card-wrapper {
        gap: 16px;
        padding-top: 20px;
    }

    .trending-discount-heading h2 {
        font-size: 24px;
        white-space: nowrap;
    }

    .trending-discount-card {
        padding: 26px 12px;
    }

    .unique-section-heading h2 {
        padding-bottom: 8px;
        font-size: 20px;
    }

    .discount-item-wrapper {
        padding-top: 40px;
    }

    .discount-item-highlight {
        font-size: 14px;
        padding-bottom: 14px;
    }

    .discount-item-para {
        font-size: 12px;
        line-height: 24px;
    }

    .discount-item-para-points {
        column-gap: 0px;
        row-gap: 0px;
        padding-top: 14px;
        padding-bottom: 28px;
    }

    .swiper-wrapper {
        padding: 28px 0 28px;
    }

    .categoryswiper {
        padding-bottom: 80px;
    }

    .newletter-body {
        padding: 80px 0 80px;
    }

    .blog-cards-wrapper {
        padding: 40px 0 80px 0
    }

    .blog-card-body {
        padding: 10px 8px 24px;
    }

    .blog-card-heading {
        padding: 12px 0 10px;
    }

    .blog-card-para {
        font-size: 12px;
        line-height: 24px;
    }

    .footer-wrapper {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .footer-headings {
        font-size: 16px;
        padding-bottom: 31px;
    }

    .footer-items ul {
        gap: 14px;
    }

    .copyright {
        font-size: 12px;
    }

    .footer-bottom-container {
        padding: 12px 10px;
    }
}

.discount-item-wrapper,
.featured-tab {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s linear;
    position: fixed;
    overflow: hidden;
}

.featured-tab .latest-product-card {
    transform: scaleX(0.10);
}

.featured-tab.active .latest-product-card {
    transform: scaleX(1);
    transition: all 0.5s ease;
}

.discount-item-wrapper {
    transform: translateY(50px);
}

.discount-item-wrapper.active {
    transform: translateY(0px);
    transition: all 0.5s ease;
}

.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: static;
    height: auto;
}

.login-overlay {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.1s linear;
}

.login-overlay-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}